apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: appointment-service
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Aarnav-JP/healthcare-cloud-system.git
    targetRevision: main
    path: k8s/manifests/appointment-service
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true